<h3>Selecciona un continente</h3>
<select name="continente-seleccionado" [(ngModel)]="continenteSeleccionado"  (change)="getPaisesFiltrados()">
  <option value="todos">Todos los continentes</option>
  <option *ngFor="let cont of continentes" [value]="cont">{{ cont}}</option>
</select>
<br><br>
<div *ngIf="paisesFiltrados.length > 0">
  <table border="1" >
    <tr>
      <th>País</th>
      <th>Capital</th>
      <th>Población</th>
      <th>Bandera</th>
    </tr>
    <tr *ngFor="let pais of paisesFiltrados">
      <td>{{ pais.name }}</td>
      <td>{{ pais.capital }}</td>
      <td>{{ pais.population}}</td>
      <td>
        <img src="{{ pais.flag }}" alt="" width="75px"></td>
    </tr>
  </table>
</div>

